<div class="row">
  <div class="col-sm-4 offset-sm-1">
    <a href="#" [routerLink]="['../history']">
      <div class="card info-box">
        <div class="card-body">
          <img src="../assets/svg/materials.svg" alt="">
          <p class="h4 col-blue-grey">Your Request History</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-sm-4 offset-sm-2">
    <a href="#" [routerLink]="['../waste-pickup']">
      <div class="card info-box">
        <div class="card-body">
          <img src="../assets/svg/pickup.svg" class="img-responsive">
          <p class="h4 col-blue-grey">Request Waste Pickup</p>
        </div>
      </div>
    </a>
  </div>
</div>