<a (click)="sidebarDisplay=true;" *ngIf="isEhos" class="menu-button">
    <i class="fa fa-bars"></i>
</a>
<div class="logo">
    <a class="navbar-brand" href="#">CCNY EHOS PORTAL</a>
</div>
<ul class="nav main-options justify-content-center">
  <a class="nav-item nav-link" routerLink="/">Home</a>
  <a class="nav-item nav-link" routerLink="/about">About</a>
  <a class="nav-item nav-link" routerLink="/profile">Profile</a>
  <a class="nav-item nav-link" (click)="logout()">Log out</a>
</ul>
<p-sidebar [(visible)]="sidebarDisplay" *ngIf="isEhos" [baseZIndex]="10000">
  <nav class="nav mt-3 sidebar">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['home']">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['lab-inspections']">Lab Inspections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['pickup-requests']">Pick Up Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['users']">Users</a>
    </li>
  </nav>
</p-sidebar>