<table class="table table-striped table-hover table-dark">
  <thead>
    <tr>
      <th scope="col"> ID </th>
      <th scope="col"> Creation date</th>
      <th scope="col"> Container type </th>
      <th scope="col"> Amount</th>
      <th scope="col"> Unit </th>
    </tr>
  </thead>
  <tbody>
    <tr class="" data-toggle="collapse" id="row1" data-target=".row1">
      <th scope="row">1</th>
      <td> heerer</td>
      <td>reer</td>
      <td>er</td>
      <td>rere</td>
    </tr>
    <tr>
      <td></td>
      <table class=" collapse in row1 table   table-dark">
        <thead>
          <tr class="text-dark">
            <th scope="col"></th>
            <th scope="col">name</th>
            <th scope="col">percentage</th>
          </tr>
</thead>
<tbody class="text-dark">
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
  </tr>

</tbody>
</table>
      </tr>

    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
