th {
    font-size: 0.85rem;
}
div.ui-sidebar-md {
    overflow: scroll;
}
.form-group {
    font-size: 0.8rem !important;
}
.form-control {
    font-size: 0.75rem !important;
}
.card {
  font-size: .875rem;
}