<div id="wrapper">
  <div class="topbar">
    <app-navbar></app-navbar>
  </div>
</div>
<!-- the crolling words-->
<div class="wrap">
  <div class="roles">
    <div>
      <p>WHO WE ARE </p>
      <p> WE ARE WEB DEVELLOPPERS</p>
      <p> WE ARE CCNY STUDENTS</p>
      <p> WE LOVE WHAT WE DO </p>
      <p> AND THIS IS WHO WE ARE</p>
    </div>
  </div>
</div>
<!-- the arrow floating going up and down-->
<div class="awrapper">
  <div class="aroles">
      <div>
    <img  [src]="downArrow" width="10%" height="10%">
  </div>
 </div>
</div>

<!-- shadow of the arrow-->
<div class="swrapper">
  <div class="sroles">
    <div>
      <div class="oval"></div>
    </div>
  </div>
</div>

<!--container that container the pictures and presentation of each team member?-->
<div id="bigContainer">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="pIcon" style=" padding-bottom: 10%;">
        <img class="pIcon1"[src]="personIcon" width="80%" height="90%">
      </div>
      <div class="name">
        <strong style="font-size:20px;">Boris Kalmatsky</strong>
        <br>(Back End Developer)
    </div>
    <div class="p1">
      Senior design design stdudent. Project
      manager of the EHOS project.

    </div>
     </div>
    <div class="col-sm">
      <div class="pIcon" style=" padding-bottom: 10%;">
        <img class="pIcon1"[src]="steven" width="80%" height="90%">
      </div>
      <div class="name">
      <strong style="font-size:20px;">Steven Barrios</strong>
      <br>(Front / back End Developer)

    </div>
    <div class="p1">
      Senior design student. Manager
      of the the back and front end
      developement.
    </div>
    </div>
    <div class="col-sm">
      <div class="pIcon" style=" padding-bottom: 10%;">
        <img class="pIcon1"[src]="emma" width="80%" height="90%">
      </div>
      <div class="name">
      <strong style="font-size:20px;">Dekuwin E. I. Kogda</strong>
        <br>(Front End Developer)
    </div>
    <div class="p1">
      Senior design student. Developer of
      the front end of the EHOS website
    </div>
    </div>
    <div class="col-sm">
      <div class="pIcon" style="padding-bottom: 10%; height:35%;">
        <img class="pIcon1"[src]="Xiaohang" width="80%" height="95%">
      </div>
      <div class="name">
      <strong style="font-size:20px;">Xiaohang Zous</strong>
      <br>(Front End Developer)
    </div>
    <div class="p1">


      Senior design student. Developer of
      the front end of the EHOS website.
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
    </div>
  </div>
</div>
</div>
