<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>404 | Page not found!</title>
  </head>
  <body class="text-sm-center">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="error-404">404</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="error-text">This page does not exist.</div>
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col-sm-6 offset-sm-3 col-md-2 offset-md-5">
            <button routerLink="/" type="button" label="Go back"  class="btn-secondary">Go back</button>
          </div>
        </div>
    </div>
  </body>
</html>
